.box-of-chat{
    width: 50%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
}
.box-of-chat .teste{
    text-align: right;
    color: yellow;
    font-size: 30px;
}